services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nybenchmark_app_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - db
      - mailpit
    environment:
      RAILS_ENV: development
      # DB for container-to-container traffic
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: password

      # Mailpit for container-to-container SMTP
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle
    command: sh -c "bundle check || bundle install && bin/rails server -b 0.0.0.0 -p 3000"
    env_file:
      - .env

volumes:
  postgres_data:
  bundle_cache: