services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432" # Maps localhost:5433 -> container:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: