<header class="container">
  <nav>
    <ul>
      <li>
        <strong><%= link_to "NY Benchmark", root_path, class: "contrast" %></strong>
      </li>
    </ul>
    <ul>
      <li><%= link_to "Entities", entities_path, class: "secondary" %></li>
      <li><%= link_to "Metrics", metrics_path, class: "secondary" %></li>
      <li><%= link_to "Observations", observations_path, class: "secondary" %></li>
      </ul>
  </nav>
</header>