service: nybenchmark_app

# 1. Image Location
image: ghcr.io/benu/nybenchmark_app

# 2. Server IP
servers:
  web:
    - 68.183.56.0

# 3. Proxy & Domain
proxy:
  ssl: true
  host: app.nybenchmark.org
  app_port: 80
  healthcheck:
    path: /up
    interval: 5
    timeout: 5


# 4. Registry Credentials
registry:
  server: ghcr.io
  username: benu
  password:
    - KAMAL_REGISTRY_PASSWORD

# 5. Sufficient Deployment Timeout
deploy_timeout: 120
drain_timeout: 120

# 6. Builder (Use AMD64 for DigitalOcean)
builder:
  arch: amd64

# 7. Environment Variables
env:
  secret:
    - RAILS_MASTER_KEY
    - POSTGRES_PASSWORD
    - DO_SPACES_KEY
    - DO_SPACES_SECRET
    - HTTP_AUTH_USER
    - HTTP_AUTH_PASSWORD
  clear:
    DB_HOST: nybenchmark_app-db
    POSTGRES_USER: nybenchmark_app
    POSTGRES_DB: nybenchmark_app_production
    SOLID_QUEUE_IN_PUMA: false
    SOLID_QUEUE_ENABLED: false

# 8. Database Accessory
accessories:
  db:
    image: postgres:17
    host: 68.183.56.0
    port: 5432
    env:
      clear:
        POSTGRES_USER: nybenchmark_app
        POSTGRES_DB: nybenchmark_app_production
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data